a.navbar-brand {
    text-transform: uppercase;
}

.image-container {
    background-position-x: center;
}

.skill-section .lead {
	font-weight: normal;
}

.about-section span {
	font-weight: bold;
	color: #3498db;
}

.about-section p a {
	font-weight: bold;
	color: #3498db;
	text-decoration: underline;
}

.footer-logo {
	text-transform: capitalize;
}

.footer-section .btn {
	text-transform: uppercase;
}

.footer-section {
    padding-bottom: 30px;
}

